* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 1200px;
    margin: 20px auto;
}
header{
    text-align: center;
    letter-spacing: -2px;
}
section,
footer,
header {
    margin: 0 auto;
    width: 400px;
}
section {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 0 2px rgb(0,0,0,0.2);
}
img{
    width: 50px;
    height: 50px;
}
header img{
    margin: 0 auto;
}
.flex_ {
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #495057;
}
input {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #dee2e6;
}
.rem_for,
.remember,
.continue{
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap:10px;
}
.remember label{
    margin: 0;
}
.rem_for{
    margin-top: 20px;
}
.continue {
    margin-top: 35px;
    font-weight: 550;
    font-size: 14px;
    color: #757b81;
}
hr{
    width:100px;
    border-top: 1px solid #dee2e6;
}
strong{
    font-size: 14   px;
    color: #4c6ef5;
}
.btn {
    color: #f8f9fa;
    background-color: #4c6ef5;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    margin: 20px 0; 
}
.logo{
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}
.logo_1,
.logo_2{
    background-color: #4dabf7;
    width: 200px;
    height: 30px;
    border-radius: 5px;flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.logo_2{
    background-color: black;
    gap: 10px;
}
.github,
.twitter{
    height: 30px;
    width: 30px;
    padding-top: 3px;
    fill: white;
}
.logo span{
    padding-top: 5px;
    color: #dee2e6;
}
footer{
    margin-top: 40px;
    text-align: center;
    color: #868e96;
    font-weight: 700;
    font-size: 14px;
}
strong {
    color: #4c6ef5;
}
a{
    text-decoration: none;
    cursor: pointer;
}
